:root {
  --prim-clr: #050505;
  --sec-clr: #ffffff;
}

html {
  background-color: var(--prim-clr);
  --prim-font: "News Cycle", sans-serif;
  font-family: var(--prim-font);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
h1 {
  font-size: 7rem;
  color: var(--sec-clr);
  font-family: var(--prim-font);
  line-height: 1.3;
  position: relative;
}
p {
  font-size: 1.5rem;
  color: var(--sec-clr);
  font-family: var(--prim-font);
}
.landing {
  padding-left: 6rem;
  h1::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
    color: red;
    width: 10px;
    height: 50px;
  }
}

/* Grid Forms  */

.form_header {
  margin-top: 10vh;
  font-size: 4rem;
  color: white;
  margin-left: 10rem;
  margin-right: 10rem;
}

.form_grid {
  margin-left: 5vw;
  margin-right: 5vw;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15vh 15vh 15vh;

  label {
    font-size: 1.5rem;
    color: white;
  }
}

.form-control {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  input {
    width: 150px;
  }
}

.calcBtn {
  margin-top: 2rem;
  font-size: 1.2rem;
  margin-right: 5vw;
  font-family: var(--prim-font);
  grid-column-start: 3;
  grid-row-start: 4;
  margin-left: auto;
  display: block;
  width: 150px;
  height: 3rem;
}

@media only screen and (max-width: 1000px) {
  .form_header {
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 4vw;
    color: red;
  }
}
